# Ignore emacs backup files
*~

# Ignore all things produced by autoreconf
Makefile.in
aclocal.m4
/autom4te.cache/
compile
config.h
config.guess
config.h.in
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
/.libs/
/.deps/
config.log
stamp-h1
libtool
tags
*.la
*.lo
*.out
